<nav class="navbar navbar-dark">
  Interview Crackers
</nav>
<div class="container">
  <div class="row justify-content-center p-2">
    <h1>Angular 9 with Firebase crud application</h1>
  </div>
  <div class="form-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="employeeName" placeholder="Enter Employee Name">
  </div>
  <div class="form-group mb-3">
    <input type="number" class="form-control" [(ngModel)]="employeeAge" placeholder="Enter Employee Age">
  </div>
  <div class="form-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="employeeAddress" placeholder="Enter Employee Address">
  </div>
  <div class="form-group mb-3">
    <button class="btn btn-primary" (click)="CreateRecord()" [disabled]="!employeeName || !employeeAge || !employeeAddress">Create Employee</button>
  </div>
  <div class="form-grouop">
    <h4>{{ message }}</h4>
  </div>

  <div class="row p-2">
    <div class="col-md-12 mb-3">
      <h4>All Employee Data</h4>
    </div>
    <div class="col-md-3" *ngFor="let item of employee">
      <div class="card mb-3" *ngIf="!item.isEdit; else elseBlock">
        <div class="card-body">
          <div class="card-title">
            Name: {{ item.name }}
          </div>
          <div class="card-subtitle">
            Age: {{ item.age }}
          </div>
          <div class="card-text">
            Address: {{ item.address }}
          </div>
          <a href="#" (click)="EditRecord(item)" class="btn btn-primary">Edit Employee</a>
          <a href="#" (click)="DeleteEmployee(item.id)" class="btn btn-danger">Delete Employee</a>
        </div>
      </div>

      <ng-template #elseBlock>
        <div class="card mb-3">
          <div class="card-body">
            <div class="card-title">
              Edit Employee
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-md-12">
                  <input type="text" [(ngModel)]="item.editname" class="form-control">
                </div>
                <div class="col-md-12">
                  <input type="number" [(ngModel)]="item.editage" class="form-control">
                </div>
                <div class="col-md-12">
                  <input type="text" [(ngModel)]="item.address" class="form-control">
                </div>
              </div>
            </div>

            <a href="#" class="btn btn-danger" (click)="item.isEdit = false">Cancel</a>
            <a href="#" class="btn btn-primary" (click)="Updaterecord(item)">Update</a>

          </div>
        </div>
      </ng-template>

    </div>
  </div>

</div>
